@import url('main.css');
h2{
    text-align: center;
    margin: 1.3em;
    align-self: center;
    text-shadow:1px 1px 3px rgb(177, 173, 173);
}
.galeria{
    display: grid;
    gap:1em;
    max-width: 80%;
    margin:0 auto;

}
.galeria img{
    display:block;
    height: auto;
    width: 100%;
    margin-bottom: 0.5em;
    filter: sepia(0.4);
}
@media all and (min-width: 700px) {
    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }
    .galeria :first-child {
        grid-column: span 3;
    }
}
@media all and (min-width: 1250px) {
    .galeria {
        grid-template-columns: repeat(2, 1fr);
    }
    .galeria :first-child {
        grid-column: span 1;
    }
    .galeria :nth-of-type(2){
        height: 98%;
    }
}